@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/mirra-auriolic');

@import url('https://fonts.cdnfonts.com/css/montserrat');

html {
  background-color: aqua;
  background-image: url("/img/background.png");
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-mirra {
  font-family: 'Mirra Auriolic', sans-serif;
}